@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Skaptopara 3<br />
    5-th floor<br />
    <abbr title="Phone">P:</abbr>
    666 666 666
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:knh150@aubg.com">knh150@aubg.com</a><br />
    
</address>